<style>
   .message-content {
      font-family: Arial, Helvetica, sans-serif;
      max-width: 600px;
      font-size: 18px;
      line-height: 21px;
   }

   .header {
      vertical-align: top;
      background-color: #232f3e;
      text-align: center;
      max-width: 60%;
   }

   .header img {
      width: 20vmin;
   }
</style>

<div class="message-content">
   <p>Olá, {{name}}</p>
   <p>Parece que você solicitou uma troca de senha.</p>
   <p>Sua nova senha provisória : {{password}}</p>

   <p>
      Obrigado! <br>
      <b>Equipe happy</b>
   </p>
</div>